<% layout("layouts/boilerplate") %>

<div class="container mt-5">
 <div class="alert alert-danger">
  <h4 class="alert-heading">Error</h4>
  <p><%= typeof message !== 'undefined' ? message : 'An error occurred' %></p>
  
  <% if (typeof error !== 'undefined' && error.stack && process.env.NODE_ENV === 'development') { %>
    <hr>
    <pre class="small"><%= error.stack %></pre>
  <% } %>
</div>
</div>